body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.51), rgba(0, 0, 0, 0.51)), url('../../assets/img/icon.png');
    background-size: 10%;
    background-repeat: repeat;
    background-position: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}

#header {
    background-color: rgba(0, 0, 0, 0.366);
    border-bottom: 3px solid white;
}

#header h1 {
    color: white;
    text-align: center;
}

.grigliaDownload {
    display: flex;
    justify-content: space-between;
    color: white;
    margin-left: 20%;
    margin-right: 20%;
}

#logoWindows {
    width: 25%;
}

.windowsBox {
    display: block;
    text-align: center;
    width: 100%;
    margin-right: 5%;
}

.bottoniWindows button {
    width: 50%;
    background-color: #181A1B;
    border: 3px solid #0EB62E;
    font-size: 20px;
    height: 60px;
    color: #0EB62E;
    cursor: pointer;
    border-radius: 15px;
    margin-bottom: 2px;
}

.bottoniWindows button:hover {
    width: 50%;
    background-color: #383d3f;
    border: 3px solid #0EB62E;
    font-size: 20px;
    height: 60px;
    color: #0EB62E;
    cursor: pointer;
    border-radius: 15px;
}

.bottoniWindows button:active {
    width: 50%;
    background-color: #0EB62E;
    border: 3px solid #181A1B;
    font-size: 20px;
    height: 60px;
    color: white;
    cursor: pointer;
    border-radius: 15px;
}

#footer {
    color: white;
    background-color: rgba(0, 0, 0, 0.366);
    margin-top: auto;
    border-top: 3px solid white;
}

#testo {
    padding-top: 10px;
    padding-left: 50px;
    padding-bottom: 20px;
}